/* header{
  height: 100px;
} */
.header-top {
  color: #29b1dd;
}

.header-bottom {
  display: flex;
  justify-content: center;
  background-color: #29b1dd;
  color: white;
}
form {
  margin-right: 10px;
}

main {
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;
  /* height: calc(100vh - 100px); */
  background-color: #dddddd;
}


.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 150px;
  height: 80px;
  border-radius: 10px;
  background-color: #f5f5f5;
  margin: 10px;
}
